/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.pem
/storage/certs/*.pem
/vendor
.env
.env.backup
.env.server
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
zips
